/* MAIN */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}

.main-container{
    margin: 0 auto;
    max-width: 800px;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}


/* HEADER */

.header{
    display: flex;
    align-items: center;
    padding: 1em;
    max-width: 800px;
    margin: 0 auto;
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 0.5em;
}


.header-title{
    width: 113.75px;
    height: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 13.5522px;
    line-height: 108.2%;
    letter-spacing: -0.03em;
    display: block;
}

.header-button{
    border: none;
    background: none;
    width: 58px;
    height: 15px;
    left: 246px;
    top: 21px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: right;
}

.header-buttons-container{
    margin-left: auto;
    display: flex;
    gap: 2em;
}


/* ABOUT ME */

.profile-pic{
    border-radius: 50%;
    height: 10em;
    width: 10em;
    margin: 1em 0;
}

.about-me > h2{
    font-style: normal;
    font-weight: 700;
    font-size: 34.8381px;
    line-height: 108.2%;
    letter-spacing: -0.03em;
}

.about-me{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.03em;
    margin: 0 1em;
}

.recent-posts-title{
    text-align: center;
}


.blog-post > img {
    width: 100%;
}

/* HERO */

.hero {
    background-image: url('./images/blog-image-hero.png');
    background-size: cover;
    height: 20em;
    position: relative;
}

.hero-image{
    width: 100%;
    max-width: 800px;
}

.hero-text-container{
    position: absolute;
    bottom: 0.1em;
    margin: 0 1em;
    max-width: 500px;
    color: white;
}

.hero-text-container > p{
    color: white;
}

.link-to-myjourney{
    color: white;
}

.link-to-myjourney:hover{
    text-shadow: 0 0 1px grey, 0 0 1px grey, 0 0 1px grey, 0 0 1px grey;
}

/* GENERAL */


.blog-img{
    margin-bottom: 1em;
}

.date{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}


.blog-post-container{
    margin: 0 1em;
}

.blog-img{
    border-radius: 10px;
}

.blog-post-container-two{
    display: none;
}

.second-row{
    display: none;
}

/* FOOTER */


.footer{
    background-color: #202020;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.footer-text > h5 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 108.2%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #ECECEC;
}

.footer-text > p{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
    text-align: center;
    color: #D7D7D7;
}

/* MEDIA QUERIES */


@media (min-width: 600px) {
    .blog-post-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }
    /* HOME */
    .second-row{
        display: block;
    }
    /* ABOUT ME */
    .about-me{
        margin: 0 auto;
    }
    .about-me-first{
        margin: 0 2em;
        display: flex;
        align-items: center;
    }
    .about-me-first-text{
        margin-left: 1em;
    }
    .about-me-second{
        margin: 0 3em;
    }
    /* MY JOURNEY */
    .my-journey-first-text{
        margin: 0 1em;
    }
    .my-journey-text-container{
        margin: 0 3rem;
    }
}
